<div class="page">
<div class="toolbar" id="toolbar">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <button mat-flat-button color="warn" (click)="goToError()"><mat-icon>home</mat-icon></button>
      <span>APP</span>
      
      <div class="menu-buttons">
        <button mat-flat-button color="warn" (click)="goToError()">Home</button>
        <button mat-flat-button color="warn" (click)="goToError()">About us</button>
        <button mat-flat-button color="warn" (click)="goToError()">Checkout</button>
      </div>
  
      <button mat-flat-button color="warn" class="menu-icon" (click)="goToError()"><mat-icon>account_circle</mat-icon></button>
  
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav" *ngIf="smallerScreen">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav-content">
        <button mat-flat-button color="warn" (click)="goToError()">Home</button> <br>
        <button mat-flat-button color="warn" (click)="goToError()">About us</button> <br>
        <button mat-flat-button color="warn" (click)="goToError()">Checkout</button> <br><br>
        <button mat-flat-button color="warn" (click)="goToError()"><mat-icon>account_circle</mat-icon></button>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p><button class="menu-button" mat-button (click)="sidenav.toggle(); changeHeight()">APP Menu</button></p>
  
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>

<div id="slider">
  <figure class="figure-class">
    <img src="assets/images/1.jpeg">
    <img src="assets/images/2.jpg">
    <img src="assets/images/1.jpeg">
    <img src="assets/images/3.jpeg">
    <img src="assets/images/1.jpeg">
  </figure>
</div>

<br><br>
<h1>Our Current Best Offers:</h1>
<br><br>
<div id="filter" style="align-items: center; margin-left: 5%;">
  <mat-form-field appearance="fill">
    <mat-label>Filter by:</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="filterChange($event)">
      <mat-option value="price">price</mat-option>
      <mat-option value="none">none</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Results filtered by {{selected}}:</p>
</div>

<div class="products" (scroll)="onScroll($event)" *ngIf=(!filtered)>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of itemsArray as i">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title style="font-weight: bolder;">Professional Website</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/product.jpg">
        <mat-card-content>
          <p>
            We will create and host a professional website for your business, product, blog, store...
          </p>
          <p style="font-size: large; font-weight: bold;">
            199.99$
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goToError()">BUY</button>
          <button mat-button (click)="goToError()">Details</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>

<div *ngIf=(filtered) class="products">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of itemsArray1 as i">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title style="font-weight: bolder;">Professional Website</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/product-best.jpg">
        <mat-card-content>
          <p>
            We will create and host a professional website for your business, product, blog, store...
          </p>
          <p matBadge="Best offer" matBadgeOverlap="true" style="font-size: large; font-weight: bold;">
            149.99$
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goToError()">BUY</button>
          <button mat-button (click)="goToError()">Details</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>

</div>
